@use '../../sass' as *;

.navigate-detail {
  @include flex(center, space-between);

  &--btn {
    @include flex();
    font-size: $h4;
    font-weight: 700;
    color: $grey-dark;
    img{
      margin-right: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  &--link {
    background-color: $blue;
    padding: 12px 24px 10px;
    border-radius: 10px;
    min-width: 160px;
    font-size: 14px;
    color: $grey;
    text-align: center;
    font-weight: bold;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: $blue-hover;
    }
  }
}