@use '../../sass' as *;

.feedback-form {
  padding: 92px 24px;
  @include tablet {
    padding: 56px 24px;
  }
  @include mobile {
    padding: 32px 24px;
  }

  &--container {
    max-width: 550px;
    margin: 0 auto;
  }

  &--navigate {
    font-size: $h4;
    color: $grey-darker;
    font-weight: 700;
    text-transform: capitalize;
    &:hover {
      text-decoration: underline;
    }
    img {
      margin-right: 16px;
    }
  }

  &--icon {
    margin-top: -28px;
    width: 56px;
    height: 56px;

    @include mobile {
      margin-top: -20px;
      width: 40px;
      height: 40px;
    }
  }

  &--title {
    padding-top: 24px;
    margin-bottom: 16px;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &--form {
    margin-top: 68px;
    background-color: $white;
    padding: 0 42px 42px;
    border-radius: 10px;
    width: 100%;
  }
  &--dropdown {
    width: 100%;
    position: relative;
  }

  &--dropdown-btn {
    width: 100%;
    @include flex(center, space-between);
    padding: 13px 24px 10px;
    background-color: $grey-light;
    color: $grey-darker;
    border-radius: 5px;
    img {
      transform: rotate(90deg);
    }
  }
  &--dropdown-list {
    position: absolute;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
    background-color: $white;
    box-shadow: 0 10px 40px -7px rgba(55, 63, 104, 0.35);
    z-index: 2;
    border-radius: 10px;
    width: 0;
    opacity: 0;
    overflow: hidden;
    top: 0;

    &__open {
      opacity: 1;
      overflow: visible;
      top: 66px;
      width: 100%;
    }

    li {
      position: relative;
      padding: 12px 24px;
      transition: 0.2s ease-in-out;
      color: $grey-dark;
      border-bottom: 1px solid $grey-darker-15;
      cursor: pointer;

      &.__active {
        color: $purple;
      }
      &:hover {
        color: $purple;
      }

      &:last-child {
        border-bottom: none;
      }

      img {
        position: absolute;
        right: 24px;
        top: 14px;
      }
    }
  }

  &--btns-container {
    margin-top: 32px;
    @include flex(center, flex-end);
    column-gap: 16px;

    @include mobile {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &--btn {
    text-align: center;
    padding: 12px 24px 10px;
    border-radius: 10px;
    font-size: 14px;
    color: $grey;
    font-weight: 700;

    @include mobile {
      width: 100%;
    }

    &-delete{
      background-color: $red;
      margin-right: auto;
      &:hover {
        background-color: $red-hover;
      }
    }
    &-cancel{
      background-color: $grey-darker;
      &:hover {
        background-color: $grey-darker-hover;
      }
    }
    &-save{
      background-color: $purple;
      &:hover {
        background-color: $purple-hover;
      }
    }
  }

}