@use '../../sass' as *;

.filter-item {

  &--btn {
    text-transform: capitalize;
    background-color: $grey;
    color: $blue;
    border-radius: 10px;
    padding: 6px 16px 4px;
    font-weight: 600;

    &:hover {
      background-color: $grey-hover;
    }
    &__active {
      background-color: $blue;
      color: $white;
    }
  }
}