@use '../../sass/index' as *;

.home {
  padding: 95px 40px;
  @include mobile {
    padding: 0 0 56px;
  }
  &--container {
    @include flex(flex-start, flex-start);
    gap: 35px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      gap: 0;
    }
  }
}