@use '../../sass' as *;

.suggestion--list {
  margin-top: 24px;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  width: 100%;
  gap: 20px;

  @include mobile {
    padding: 0 24px;
    gap: 14px;
  }
}