@use '../../sass' as *;

.reply-comment {
  margin-top: 0.5rem;
  margin-left: 4.5rem;
  @include flex(flex-start, space-between);
  animation: show 1s ease-in-out;

  &--btn {
    flex: 1;
    margin-left: 16px;
    padding: 12px 24px 10px;
    text-align: center;
    white-space: nowrap;
    background-color: $purple;
    color: $grey;
    font-weight: 700;
    border-radius: 10px;

    &:hover {
      background-color: $purple-hover;
    }
  }

  @include tablet {
    margin-left: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}