@use '../../sass' as *;

.burger-menu {
  position: absolute;
  top: 83px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;

  &__open {
    visibility: visible;
    opacity: 1;
  }

  &--container {
    position: absolute;
    right: 0;
    background-color: $grey-light;
    padding: 24px;
    width: 0;
    max-width: 265px;
    height: 100%;
    visibility: hidden;
    transition: 0.5s ease-in-out;

    .home--category {
      visibility: hidden;
      display: none;
    }

    .roadmaps {
      visibility: hidden;
      display: none;
    }

    &__open {
      width: 100%;
      visibility: visible;

      .home--category {
        visibility: visible;
        display: flex;
      }

      .roadmaps {
        margin-top: 24px;
        visibility: visible;
        display: flex;
      }
    }

  }
}