@use './sass' as *;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html{
  font-size: 100%;

}

body {
  position: relative;
  min-height: 100vh;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  background: $grey-light;

}

a {
  text-decoration: none;
  color: unset;
}


button, input {
  outline: 0;
}

.input {
  background-color: $grey-light;
  color: $grey-darker;
  border: none;
  resize: none;
  border-radius: 5px;
  padding: 16px 24px 20px;
  width: 100%;
  font-family: $font-family;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0
}

h1 {
  font-size: $h1;
  line-height: $h1-lh;
  letter-spacing: $h1-ls;
}
h2 {
  font-size: $h2;
  line-height: $h2-lh;
  letter-spacing: $h2-ls;
}

h3 {
  font-size: $h3;
  line-height: $h3-lh;
  letter-spacing: $h3-ls;
}

button {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: $font-family;
}

.body {
  font-size: $body;
  line-height: $body-lh;
}
.body-s {
  font-size: $body-s;
  line-height: $body-s-lh;
}
.body-xs {
  font-size: $body-xs;
  line-height: $body-xs-lh;
}
.container {
  max-width: $max-width;
  margin: 0 auto;
}

.orange {
  background-color: $orange;
}
.purple {
  background-color: $purple;
}
.blue-light {
  background-color: $blue-light;
}