@use './sass' as *;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html{
  font-size: 100%;

}

body {
  position: relative;
  min-height: 100vh;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  background: $grey-light;

}

a {
  text-decoration: none;
  color: unset;
}


button, input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0
}
h2 {
  font-size: $h2;
  line-height: $h2-lh;
  letter-spacing: $h2-ls;
}

button {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: none;
}

.body-s {
  font-size: $body-s;
  line-height: $body-s-lh;
}
.body-xs {
  font-size: $body-xs;
  line-height: $body-xs-lh;
}
.container {
  max-width: $max-width;
  margin: 0 auto;
}