@use '../../sass' as *;

.item--container {
  @include flex(flex-start, space-between);
  position: relative;

  @include tablet{
    justify-content: flex-start;
    align-items: center;
  }
}

.comment {

  &--item {
    position: relative;
    margin: 1.5rem 0;

    @include tablet {
      margin: 1rem 0;
    }

    &:after{
      position: absolute;
      content: '';
      background-color: rgba(140, 146, 197, 0.25);
      height: 1px;
      width: 100%;
      bottom: -1.25rem;

      @include tablet {
        bottom: -1rem;
      }
    }
    &:last-child:after {
      content: none;
    }

    img{
      width: 40px;
      height: 43px;
      border-radius: 50%;
    }
  }

  &--user {
    margin-left: 32px;

    @include tablet {
      margin-left: 16px;
    }

    &-name {
      color: $grey-darker;
      line-height: 13px;
    }
    &-login {
      color: $grey-dark;
    }
    &-description {
      margin-top: 16px;
      color: $grey-dark;

      &.tablet {
        display: none;
      }

      @include tablet {
        display: none;
        &.tablet {
          display: block;
        }
        margin-top: 1.25rem;
      }
    }
  }

  &--reply {
    cursor: pointer;
    color: $blue;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }

    @include tablet{
      margin-left: auto;
    }
  }

}